{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/storefront/headless/recommendations/automatic": {
      "post": {
        "description": "Get automatic recommendations powered using LLMs",
        "parameters": [
          {
            "name": "x-shop",
            "in": "header",
            "description": "Shopify store URL",
            "required": true,
            "schema": {
              "type": "string",
              "example": "shop.myshopify.com"
            }
          }
        ],
        "requestBody": {
          "description": "Request body", 
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomaticRecommendationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomaticRecommendationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomaticRecommendationsError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AutomaticRecommendationsRequest": {
        "type": "object",
        "required": [
          "product_ids",
          "recommendation_type",
          "view"
        ],
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of product IDs to get recommendations for"
          },
          "recommendation_type": {
            "type": "string",
            "description": "Type of recommendations to retrieve",
            "enum": ["similar_products"]
          },
          "view": {
            "type": "string", 
            "description": "Context where recommendations will be displayed",
            "enum": ["product_details", "product_ids"]
          },
          "pagination": {
            "type": "object",
            "properties": {
              "cursor": {
                "type": "string",
                "description": "Cursor for pagination"
              },
              "limit": {
                "type": "integer",
                "description": "Number of results to return per page",
                "minimum": 1
              }
            }
          }
        }
      },
      "AutomaticRecommendationsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the response",
            "enum": ["ok"]
          },
          "serve_id": {
            "type": "string",
            "description": "Unique identifier for this recommendation serve"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "cursor": {
                "type": "string",
                "description": "Cursor for pagination"
              }
            }
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer",
                  "description": "Unique identifier of the product"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the product"
                },
                "price": {
                  "type": "number",
                  "description": "Price of the product"
                },
                "tags": {
                  "type": "string",
                  "description": "Comma-separated list of product tags"
                },
                "product_type": {
                  "type": "string",
                  "description": "Type/category of the product"
                },
                "vendor": {
                  "type": "string",
                  "description": "Vendor/brand of the product"
                },
                "image": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the image"
                    },
                    "url": {
                      "type": "string",
                      "description": "URL of the product image"
                    },
                    "height": {
                      "type": "integer",
                      "description": "Height of the image in pixels"
                    },
                    "width": {
                      "type": "integer", 
                      "description": "Width of the image in pixels"
                    },
                    "altText": {
                      "type": "string",
                      "description": "Alternative text for the image"
                    }
                  }
                },
                "handle": {
                  "type": "string",
                  "description": "URL handle/slug for the product"
                },
                "compare_at_price": {
                  "type": "number",
                  "description": "Original/compare at price of the product"
                },
                "options": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Unique identifier of the option"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the option (e.g. Size, Color)"
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Available values for this option"
                      },
                      "position": {
                        "type": "integer",
                        "description": "Display position of this option"
                      }
                    }
                  }
                },
                "variants": {
                  "type": "array", 
                  "items": {
                    "type": "object",
                    "properties": {
                      "variant_id": {
                        "type": "integer",
                        "description": "Unique identifier of the variant"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the variant"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "Display name of the variant"
                      },
                      "position": {
                        "type": "integer",
                        "description": "Display position of the variant"
                      },
                      "sku": {
                        "type": "string",
                        "description": "SKU of the variant"
                      },
                      "selected_options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name of the option"
                            },
                            "value": {
                              "type": "string", 
                              "description": "Selected value for this option"
                            }
                          }
                        }
                      },
                      "price": {
                        "type": "string",
                        "description": "Price of the variant"
                      },
                      "compare_at_price": {
                        "type": "string",
                        "description": "Original/compare at price of the variant"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AutomaticRecommendationsError": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Human readable error message"
                },
                "path": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Path to the field that caused the error"
                },
                "type": {
                  "type": "string",
                  "description": "Type of validation error"
                },
                "context": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "number",
                      "description": "Maximum allowed value"
                    },
                    "value": {
                      "type": "number", 
                      "description": "Actual value provided"
                    },
                    "label": {
                      "type": "string",
                      "description": "Field label"
                    },
                    "key": {
                      "type": "string",
                      "description": "Field key"
                    }
                  }
                }
              }
            }
          }

        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}